// Colors

$white:				#fff;
$accent:			#65e496;
$dark:				#44444f;
$gray:				#696980;
$light:				#9191b5;

// Fonts

$text: 			    Helvetica, Arial, sans-serif;
$title:			    Helvetica, Arial, sans-serif;

// Gutters

$gutter:        1.5625rem;

// Speed

$fast:          .15s ease;
$slow:          .3s ease;

// Breakpoints

$tablets:       768px;
$phones: 	      480px;
